/**
 *
 * Typography
 *
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
p { line-height: 1.9; }
h1 {
  /*padding-bottom: 3%;*/
  font-weight: 900;
  line-height: 1.3;
}
h2 {
  /*padding-bottom: 3%;*/
  font-weight: 600;
  line-height: 1.3;
}*/

/**
 *
 * Nav Menu
 *
 */

nav .brand-logo.hide-on-med-and-down { padding-left: 1%; border: 1px solid yellow; }
#sidenav-overlay { z-index: 1 /* removes the sidenav overlay shadow */ }

@media (max-width: 992px) {
  nav {
    background-color: transparent;
    box-shadow: none;
  }
  .material-icons { color: rgba(0, 0, 0, 0.54);  }
}

/**
 *
 * Night Mode
 *
 */
/* backgrounds & text */

.day {
  color: #373a3c;
  background-color: #EEEEEE;
}
.night {
  color: #f2f1ef;
  background-color: #262626;
}
.night p { color: #fefefe; }
.night ul.display .highlight { background-color: #1ba39c }
.night h3 { color: #f2f1ef; }

.night .navmenu-default { background-color: #292929; }
.night .navmenu-default .navmenu-nav { background-color: transparent; }
.night .navmenu-default .navmenu-brand { color: #fff; }
.night .navmenu-default .navmenu-nav > li {
  background-color: #393939;
  color: #ccc;

  border: 1px solid #000;

}
.night .navmenu-default .navmenu-nav > li > a { color: #8AD; }
@media (min-width: 700px) {
  .night .navmenu-default .navmenu-nav > li > a:hover { background-color: #292929; }
  .night .navmenu-default .navmenu-brand:hover { color: white; }
}
.night .navmenu-default .navmenu-nav.dropdown-menu { background-color: #262626; }
.night footer { background-color: #4d4d4d; }
