/**
 * Footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }

/**
 * Chanting Home
 */
.card-title a { font-weight: 400;}
.night .card-title a { color: #fefefe; }
