
.btn-floating {

  margin-bottom: 1.5rem;
  background-color: #212132;
  background-color: $fl-button-bg-colour-day;

  .night & {
    background-color: $night_colour-fl-button-bg;
  }

}


.fixed-action-btn {
  font-size: 2rem;
}


.feather-cog, .feather-chevron-up, .feather-moon, .feather-sun {

  background-color: #212132;
  background-color: $fl-button-bg-colour-day;

  color: $fl-button-icon-colour-day !important;

  .night & {
    background-color: $night_colour-fl-button-bg;

    color: $night_colour-fl-button-icon !important;
  }

}

//.feather-sun {
  //color: $fl-button-icon-feather-sun-colour;
  //background-color: $fl-button-bg-colour-day;

//  .night & {
//    color: $fl-button-icon-feather-sun-colour !important;
//  }

//}
