%p.p Kiccho manussapaṭilābho
%p.t Rare is the gaining of the human state
%p.p kicchaṃ maccānaṃ jīvitaṃ
%p.t difficult is the life of mortal beings
%p.p kicchaṃ saddhammasavaṇaṃ
%p.t rare to hear the true Dhamma
%p.p kiccho buddhānaṃ uppādo.
%p.t rare are the arising of Buddhas
%br
%p.p Sabbapāpassa akaraṇaṃ
%p.t Not doing of all evil
%p.p kusalassa upasampadā
%p.t entering into the wholesome
%p.p sacittapariyodapanaṃ
%p.t purifying one's own mind
%p.p etaṃ buddhāna(ṃ) sāsanaṃ.
%p.t this is the teaching of the Buddhas.
%br
%p.p Na hi verena verāni
%p.t It is not by hatred that hatred
%p.p sammantīdha kudācanaṃ.
%p.t subsides here anytime.
%p.p averena ca sammanti.
%p.t but by non-hatred they subside.
%p.p esa dhammo sanantano.
%p.t this is an eternal law.
