%p.p
  Tīhi, bhikkhave, aṃgehi samannāgato pāpaṇiko abhabbo anadhigataṃ vā bhogaṃ
  adhigantuṃ, adhigataṃ vā bhogaṃ phātiṃ kātuṃ.
%p.t
  Endowed with three factors, o' monks, a merchant is unable to acquire
  unacquired wealth or increase acquired wealth.
%p.p
  Katamehi tīhi? Idha, bhikkhave, pāpaṇiko pubbaṇhasamayaṃ na sakkaccaṃ
  kammantaṃ adhiṭṭhāti, majjhaṇhikasamayaṃ na sakkaccaṃ kammantaṃ adhiṭṭhāti,
  sāyaṇhasamayaṃ na sakkaccaṃ kammantaṃ adhiṭṭhāti.
%p.t
  With what three? Here, o' monks, a merchant does not properly attend to his
  business in the morning, does not properly attend to his business in the
  afternoon, does not properly attend to his business in the evening.
%p.p
  Imehi kho, bhikkhave, tīhi aṃgehi samannāgato pāpaṇiko abhabbo anadhigataṃ
  vā bhogaṃ adhigantuṃ, adhigataṃ vā bhogaṃ phātiṃ kātuṃ.
%p.t
  Endowed with these three factors, o monks, a merchant is unable to
  acquire unacquired wealth or increase acquired wealth.

%p.p
  Evameva kho, bhikkhave, tīhi dhammehi samannāgato bhikkhu abhabbo
  anadhigataṃ vā kusalaṃ dhammaṃ adhigantuṃ, adhigataṃ vā kusalaṃ dhammaṃ
  phātiṃ kātuṃ.
%p.t
  In the same way, o' monks, endowed with three factors, a monk is unable to
  acquire an unacquired wholesome state or increase an acquired wholesome
  state.
%p.p
  Katamehi tīhi? Idha, bhikkhave, bhikkhu pubbaṇhasamayaṃ na sakkaccaṃ
  samādhinimittaṃ adhiṭṭhāti, majjhaṇhikasamayaṃ na sakkaccaṃ samādhinimittaṃ
  adhiṭṭhāti, sāyaṇhasamayaṃ na sakkaccaṃ samādhinimittaṃ adhiṭṭhāti.
%p.t
  With what three? Here, o' monks, a monk does not properly attend to an
  object of meditation in the morning, does not properly attend to an object
  of meditation in the afternoon, does not properly attend to an object of
  meditation in the evening.
%p.p
  Imehi kho, bhikkhave, tīhi dhammehi samannāgato bhikkhu abhabbo anadhigataṃ
  vā kusalaṃ dhammaṃ adhigantuṃ, adhigataṃ vā kusalaṃ dhammaṃ phātiṃ kātuṃ.
%p.t
  Endowed with these three factors, o' monks, a monk is unable to
  acquire an unacquired wholesome state or increase an acquired wholesome
  state.
%br
%p.p
  Tīhi, bhikkhave, aṃgehi samannāgato pāpaṇiko bhabbo anadhigataṃ vā bhogaṃ
  adhigantuṃ, adhigataṃ vā bhogaṃ phātiṃ kātuṃ.
%p.t
  Endowed with three factors, o' monks, a merchant is able to acquire
  unacquired wealth or increase acquired wealth.
%p.p
  Katamehi tīhi? Idha, bhikkhave, pāpaṇiko pubbaṇhasamayaṃ sakkaccaṃ kammantaṃ
  adhiṭṭhāti, majjhaṇhikasamayaṃ… pe… sāyaṇhasamayaṃ sakkaccaṃ kammantaṃ
  adhiṭṭhāti.
%p.t
  With what three? Here, o' monks, a merchant properly attends to his
  business in the morning, …in the afternoon…, properly attends to his
  business in the evening.
%p.p
  Imehi kho, bhikkhave, tīhi aṃgehi samannāgato pāpaṇiko bhabbo anadhigataṃ vā
  bhogaṃ adhigantuṃ, adhigataṃ vā bhogaṃ phātiṃ kātuṃ.
%p.t
  Endowed with these three factors, o' monks, a merchant is able to acquire
  unacquired wealth or increase acquired wealth.

%p.p
  Evameva kho, bhikkhave, tīhi dhammehi samannāgato bhikkhu bhabbo anadhigataṃ
  vā kusalaṃ dhammaṃ adhigantuṃ, adhigataṃ vā kusalaṃ dhammaṃ phātiṃ kātuṃ.
%p.t
  In the same way, o' monks, a monk who is endowed with three factors is able
  to acquire an unacquired wholesome state or to increase an acquired
  wholesome state.
%p.p
  Katamehi tīhi? Idha, bhikkhave, bhikkhu pubbaṇhasamayaṃ sakkaccaṃ
  samādhinimittaṃ adhiṭṭhāti, majjhaṇhikasamayaṃ… pe… sāyaṇhasamayaṃ sakkaccaṃ
  samādhinimittaṃ adhiṭṭhāti.
%p.t
  With what three? Here, o' monks, a monk properly attends to an object of
  meditation in the morning, …in the afternoon…, properly attends to an
  object of meditation in the evening.
%p.p
  Imehi kho, bhikkhave, tīhi dhammehi samannāgato bhikkhu bhabbo anadhigataṃ
  vā kusalaṃ dhammaṃ adhigantuṃ, adhigataṃ vā kusalaṃ dhammaṃ phātiṃ kātuṃ ti.
%p.t
  Endowed with these three factors, o' monks, a monk is able to acquire an
  unacquired wholesome state or to increase an acquired wholesome state.
