%p.p
  Evameva kho, bhikkhave, appakā te sattā ye manussesu paccājāyanti; atha kho
  ete'va sattā bahutarā ye aññatra manussehi paccājāyanti.
%p.t ?
%p.p
  Evameva kho, bhikkhave, appakā te sattā ye majjhimesu janapadesu
  paccājāyanti; atha kho ete'va sattā bahutarā ye paccantimesu janapadesu
  paccājāyanti.
%p.t ?
%p.p
  Evameva kho, bhikkhave, appakā te sattā ye paññavanto, ajalā, aneḷamūgā,
  paṭibalā subhāsitadubbhāsitassa atthamaññatuṃ; atha kho ete'va sattā
  bahutarā ye duppaññā jaḷā eḷamūgā na paṭibalā subhāsitadubbhāsitassa
  atthamaññatuṃ.
%p.t ?
%p.p
  Evameva kho, bhikkhave, appakā te sattā ye ariyena paññacakkhunā
  samannāgatā; atha kho ete'va sattā bahutarā ye avijjāgatā sammūḷhā.
%p.t ?
%p.p
  Evameva kho, bhikkhave, appakā te sattā ye labhanti tathāgataṃ dassanāya;
  atha kho ete'va sattā bahutarā ye na labhanti tathāgataṃ dassanāya.
%p.t ?
%p.p
  Evameva kho, bhikkhave, appakā te sattā ye labhanti tathāgatappaveditaṃ
  dhammavinayaṃ savaṇāya; atha kho ete'va sattā bahutarā ye na labhanti
  tathāgatappaveditaṃ dhammavinayaṃ savaṇāya.
%p.t ?
