<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="../../assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../assets/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../../assets/img/manifest.json">
  <link rel="mask-icon" href="../../assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../../assets/img/favicon.ico">
  <meta name="msapplication-config" content="../../assets/img/browserconfig.xml">
  <meta name="theme-color" content="#cccccc">

  <link rel="author" href="../../humans.txt" />

  <title>{{ page.title }}</title>

  <script>
    (function(w){"use strict";var loadCSS=function(href,before,media){var doc=w.document;var ss=doc.createElement("link");var ref;if(before){ref=before;}
    else{var refs=(doc.body||doc.getElementsByTagName("head")[0]).childNodes;ref=refs[refs.length-1];}
    var sheets=doc.styleSheets;ss.rel="stylesheet";ss.href=href;ss.media="only x";function ready(cb){if(doc.body){return cb();}
    setTimeout(function(){ready(cb);});}
    ready(function(){ref.parentNode.insertBefore(ss,(before?ref:ref.nextSibling));});var onloadcssdefined=function(cb){var resolvedHref=ss.href;var i=sheets.length;while(i--){if(sheets[i].href===resolvedHref){return cb();}}
    setTimeout(function(){onloadcssdefined(cb);});};function loadCB(){if(ss.addEventListener){ss.removeEventListener("load",loadCB);}
    ss.media=media||"all";}
    if(ss.addEventListener){ss.addEventListener("load",loadCB);}
    ss.onloadcssdefined=onloadcssdefined;onloadcssdefined(loadCB);return ss;};if(typeof exports!=="undefined"){exports.loadCSS=loadCSS;}
    else{w.loadCSS=loadCSS;}}(typeof global!=="undefined"?global:this));
  </script>
  <script id="loadcss">
    loadCSS( "https://fonts.googleapis.com/css?family=Nunito|Open+Sans" );
    loadCSS( "{{ site.baseurl }}../../assets/css/main.css" );
  </script>

  <style type="text/css">
    {% include head/styles/inline.css %}
  </style>

  <noscript>
    <link rel="stylesheet" href="{{ site.baseurl }}../../assets/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" />
  </noscript>

  {% seo %}


</head>
