<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="152x152" href="{% asset_path apple-touch-icon.png %}">
  <link rel="icon" type="image/png" href="{% asset_path favicon-32x32.png %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% asset_path favicon-16x16.png %}" sizes="16x16">
  <link rel="manifest" href="{% asset_path manifest.json %}">
  <link rel="mask-icon" href="{% asset_path safari-pinned-tab.svg %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% asset_path favicon.ico %}">
  <meta name="msapplication-config" content="{% asset_path browserconfig.xml %}">
  <meta name="theme-color" content="#cccccc">

  <link rel="author" href="../humans.txt" />

  <title>{{ page.title }}</title>


  {% css main %}

  {% css non-critical rel="preload" as="style" onload="this.rel='stylesheet'" %}

  <noscript><link rel="stylesheet" href="{% asset_path non-critical %}" /></noscript>

  {% include scripts/loadcss.html %}

  <script id="loadcss">
    loadCSS( "https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:300,400,600" );
  </script>

  <noscript>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:300,400,600" rel="stylesheet">
  </noscript>

  {% seo %}

</head>
