.button-collapse {
  //font-size: 2.5rem;
  cursor: pointer;
}

// hamburger
.feather-menu {
  color: $day_colour-nav-hamburger;

  .night & {
    color: $night_colour-nav-hamburger;
  }

}

// sidenav

.side-nav {
  background-color: $day_colour-sidenav-bg;

  li > a, li > a > i {
    color: $day_colour-sidenav-a;
  }

  & .collapsible-body {

    & li > a {
      color: $day_colour-sidenav-dropdown-a;
    }

    background-color: $day_colour-sidenav-dropdown-bg;
  }


  .night & {
    background-color: $night_colour-sidenav-bg;

    & a {
      color: $night_colour-sidenav-a;
    }

    & .collapsible-body {
      background-color: $night_colour-sidenav-dropdown-bg;

      & li a {
        color: $night_colour-sidenav-dropdown-a;
      }

    }

  }

  & li a.active {
    color: $day_colour-nav-a-dropdown--active !important;

    .night & {
      color: $night_colour-nav-a--active !important;
    }

  }

  &-home {
    padding: 0 22px !important;

    &-icon {
      margin-right: 12px !important;
    }

  }

}

.night .side-nav li>a>i {
  color: $night_colour-sidenav-a;
}
