<link
  rel="preload"
  href="{{ site.baseurl }}/assets/styles/main.css"
  as="style"
  onload="this.rel='stylesheet'"
/>

<noscript>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css" />
</noscript>


<link
  rel="preload"
  href="https://fonts.googleapis.com/css?family=Nunito:400|Open+Sans:300,400,600"
  as="style"
  onload="this.rel='stylesheet'"
/>

<noscript>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:400|Open+Sans:300,400,600"
  />
</noscript>
