
#search {
  &-container {
  }

  &-icon {
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  &-field {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  &-input {


    padding-left: 0.4em;


    color: $day_colour-nav-dropdown-a;
    .night & { // color: $night_colour-nav-dropdown-a;
    }
  }



}


#results-container {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;

  background-color: $day_colour-nav-dropdown-bg;
  color: $day_colour-nav-dropdown-a;

  .night & {
    background-color: $night_colour-nav-dropdown-bg;
    color: $night_colour-nav-dropdown-a;
  }

  & > li {
    background-color: $day_colour-nav-dropdown-bg;

    .night & {
      background-color: $night_colour-nav-dropdown-bg;
    }

    & > a {
      color: $day_colour-nav-dropdown-a;

      .night & {
        color: $night_colour-nav-dropdown-a;

        &:hover {
          background-color: $anti-flash-white;
          color: $jet--dark;
        }

      }

    }

  }

}
