.container--chant {
  @media only screen and (min-width: 993px) {
    width: 75%;
  }
}

#data { display: none; }

#audio {
  position: fixed;
  z-index: 1000;
  bottom: -6px;
  left: 0;

  width: 100%;

  audio {
    width: 100%;
  }

}

#time { // helps to find audio timing when adding new chants
  position: fixed;
  z-index: 1000;
  right: 3%;
  bottom: 20%;

  display: none;
  width: 3.3em;
  height: 1em;
  padding: 0.2em;

  text-align: right;
  vertical-align: bottom;

  color: $chanting-time-colour;

  border: {
    top: 5px solid $chanting-time-colour;
    left: 5px solid $chanting-time-colour;
  }

  font-size: 3em;

}

ul.display {
  position: relative;
  display: block;

  width: 100%;
  height: auto;

  //margin: 0 auto;
  overflow-x: auto;

  p {
    margin: 0.5em auto;
    padding: 0;
    text-rendering: optimizeLegibility;
    line-height: 2.0;
    //letter-spacing: 0.040em;

    .night & {
      //letter-spacing: 0.050em;
    }

    & .un {
      text-decoration: underline;
    }

    & span.t {
      position: relative;
      white-space: pre;

      & > span {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -200%;
        width: 500%;
        height: 100%;

        & > span {
          display: block;
          width: 0;
          height: 0;
          margin: 0 auto;

          border-style: solid;
        }

        & > .u {
          border: {
            width: 0 0.25em 0.15em 0.25em;
            color: transparent transparent $day_colour-pali-diacritical--u transparent;
          }

          .night & {
            border-color: transparent transparent $night_colour-pali-diacritical--u transparent;
          }
        }

        & > .d {
          margin-top: 1.2em;

          border: {
            width: 0.15em 0.25em 0 0.25em;
            color: $day_colour-pali-diacritical--d transparent transparent transparent;
          }

          .night & {
            border-color: $night_colour-pali-diacritical--d transparent transparent transparent;
          }
        }

        & > .uu {
          border: {
            width: 0 0.5em 0.2em 0.5em;
            color: transparent transparent $day_colour-pali-diacritical--u transparent;
          }

          .night & {
            border-color: transparent transparent $night_colour-pali-diacritical--u transparent;
          }
        }

        & > .dd {
          margin-top: 1.2em;

          border: {
            width: 0.2em 0.5em 0 0.5em;
            color: $day_colour-pali-diacritical--dd transparent transparent transparent;
          }

          .night & {
            border-color: $night_colour-pali-diacritical--dd transparent transparent transparent;
          }
        }

      }
    }

  }

  h3, h4, h5 {
    text-rendering: optimizeLegibility;
  }

  h3 { font-weight: 600; }
  h4 { font-weight: 500; }
  h5 { font-weight: 300; }

  hr {
    margin-bottom: 5%;

    @media screen and (max-width: 600px) {
      margin-bottom: 10%;
    }

    .night & {
      border: 1px solid #E6E6E6;
    }
  }

  li {
    position: relative;
    padding: 0 5px;
    list-style: none;

    cursor: pointer;
    transition: background 1s linear;

    border-radius: 2px;
    text-overflow: ellipsis;
  }

  .time { // for debugging

    position: absolute;
    display: none;
    top: 2.4em;
    left: -4em;
    width: 3em;

    text-align: right;

    color: $colour-chanting-ul-display-time;

    font-size: 0.5em;

  }

  .pali {
    font: {
      family: 'Open Sans', sans-serif;
      weight: 500;
    }

    color: $day_colour-chant-text-pali;

    .night & {
      color: $night_colour-chant-text--pali;
    }
  }

  .en {
    margin-left: 1em;
    margin-bottom: 1em;

    font: {
      weight: 400;
      style: italic;
    }
  }

  .highlight {

    background-color: $day_colour-chant-highlight;

    .night & {
      background-color: $night_colour-chant-highlight;

      & p, h3, h4, h5 { color: $night_colour-chant-highlight--text; }
    }

  }

}

.stud { color: #363636; }
