  <!-- jQuery CDN -->
  <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/materialize/0.97.8/js/materialize.min.js" integrity="sha256-pVJ6toFhRjat2LSvxugXvMnNDp33i00nfn0CpPXZevs=" crossorigin="anonymous"></script>

  <script defer src="{{ page.url | prepend: site.github.url }}../../js/chanting.js" type="text/javascript"></script>
  <script defer src="{{ page.url | prepend: site.github.url }}../../js/jquery/jquery.smooth-scroll.js" type="text/javascript"></script>
  <script src="{{ page.url | prepend: site.github.url }}../../js/flowtype.js" type="text/javascript"></script>
  <script defer src="{{ page.url | prepend: site.github.url }}../../js/night_mode.js" type="text/javascript"></script>

  <script>
    (function() {
        var font = document.createElement('link');
        var font2 = document.createElement('link');
        var font3 = document.createElement('link');
        var font4 = document.createElement('link');
        font.type = 'text/css';
        font2.type = 'text/css';
        font3.type = 'text/css';
        font4.type = 'text/css';
        font.rel = 'stylesheet';
        font2.rel = 'stylesheet';
        font3.rel = 'stylesheet';
        font4.rel = 'stylesheet';
        font.href = 'https://cdn.jsdelivr.net/materialize/0.97.8/css/materialize.min.css';
        font2.href = '{{ page.url | prepend: site.github.url }}../../css/global.css';
        font3.href = '{{ page.url | prepend: site.github.url }}../../css/chanting.css';
        font4.href = '{{ page.url | prepend: site.github.url }}../../css/entypo.css';
        font.integrity = 'sha256-fGJODaGYSINeMscXSbyu3k+sCt9ON9XOpsVOcvco3Qg=';
        font.crossOrigin = 'anonymous';
        var s = document.getElementsByTagName('link')[0];
        var t = document.getElementsByTagName('link')[0];
        var u = document.getElementsByTagName('link')[0];
        var v = document.getElementsByTagName('link')[0];
        s.parentNode.insertBefore(font, s);
        t.parentNode.insertBefore(font2, t);
        u.parentNode.insertBefore(font3, u);
        v.parentNode.insertBefore(font4, v);
      })();
  </script>

  <script>
    var $ = jQuery.noConflict();
    $(document).ready(function(){
      $('p').flowtype({
        minimum   : 300,
        maximum   : 1200,
        minFont   : 14,
        maxFont   : 40,
        fontRatio : 18
      });
      $('h1').flowtype({
        minFont   : 22,
        fontRatio : 11.2
      }),
      $('h2').flowtype({
        minFont   : 20,
        fontRatio : 14
      }),
      $('h3').flowtype({
        minFont   : 14,
        fontRatio : 25
      })
    });
  </script>

  <script>
    // Initialize collapse button
    $(".button-collapse").sideNav({
      menuWidth: 280,
      edge: 'left',
      closeOnClick: true,
      draggable: true
    });
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    $('.collapsible').collapsible();
  </script>

  <script type="text/javascript">
  // pauses the track on button click-'jump-to-top'
    var audioElem = document.getElementById('track');
    function togSound() {
        audioElem.pause();
    }
  </script>
