  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dhamma</h5>
          <p class="grey-text text-lighten-4">A collection of Dhamma chants.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <p>Derived from <a href="https://pali.ejinjue.org">John Nishinaga</a></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a href="https://gnu.org/licenses/quick-guide-gplv3.html">Free & Open Source (GPL-3.0)</a>
        <a class="grey-text text-lighten-4 right" href="https://gituhb.com/job-talk/dhamma">Open source at <i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>
