  <footer class="page-footer grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          <p class="memo">A collection of Dhamma chants.</p>
        </div>
        <div class="col l4 offset-l2 s6">
          <p class="credits">Derived from <a href="https://pali.ejinjue.org">Dhamma Schtuff</a></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a href="https://gnu.org/licenses/quick-guide-gplv3.html">GPL-3.0</a>
        <a class="right" href="https://gituhb.com/job-talk/dhamma">Contribute at <i class="ent-github"></i></a>
      </div>
    </div>
  </footer>
