  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          <p class="memo flow-text">A Collection of Dhamma Chants</p>
        </div>
        <div class="col l4 offset-l2 s6">
          <p class="memo flow-text">Derived from <a class="a-highlight" href="https://pali.ejinjue.org">Dhamma Schtuff</a></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="license" href="https://gnu.org/licenses/quick-guide-gplv3.html">GPL-3.0</a>

        <a class="license right" href="https://github.com/job-talk/dhammapuja"><i class="feather-github"></i></a>
      </div>
    </div>
  </footer>
