<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/materialize/0.97.8/css/materialize.min.css" integrity="sha256-fGJODaGYSINeMscXSbyu3k+sCt9ON9XOpsVOcvco3Qg=" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/5a7e790e76.js"></script>

  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/global.css" />
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/home.css" />
</head>
