
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <p class="text-muted" >Derived from <a href="https://pali.ejinjue.org/">John Nishinaga</a></p>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4">
          <p class="text-muted" style="text-align: right">Open Source at <a href="https://github.com/job-talk/buddhism-resource"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
          </p>
        </div>
      </div> <!-- end of ./row -->
    </div> <!-- end of container-fluid -->
  </footer>
