<script>
  var $menu = $("#my-menu").mmenu({
    extensions: [ "border-full", "pagedim-black", "pageshadow", "theme-dark" ],
    dividers: {
      fixed: true
    },
    navbar: {
      title: "Menu"
    },
    counters: true,
    setSelected: {
      hover: true,
    },
  });
  var $icon = $("#my-icon");
  var API = $menu.data( "mmenu" );

  $icon.on( "click", function() {
    API.open();
  });

  API.bind( "opened", function() {
    setTimeout(function() {
    $icon.addClass( "is-active" );
  }, 100);
  });
  API.bind( "closed", function() {
    setTimeout(function() {
      $icon.removeClass( "is-active" );
    }, 100);
  });
</script>
