
<!-- The menu -->
<!--
<div
  id="nav-menu"
  data-containerSelector="body"
  data-direction="left"
  data-transition="ease-in-out"
  data-duration= "300"
  data-clickSelector=".toggle-panel"
  enableEscapeKey: "true"
> -->
<!--
  <div id="sidr">
    <ul>
      <li><a href="{{ site.baseurl }}/" class="hvr-pop">Home</a></li>
      <li><a href="#" class="submenu-button">Chanting</a>
        <ul class="submenu">
          <li><a href="{{ site.baseurl }}/chanting/abhayagiri-morning">Morning Chanting</a></li>
          <li><a href="{{ site.baseurl }}/chanting/abhayagiri-evening-pali">Evening Chanting - Pāḷi</a></li>
          <li><a href="{{ site.baseurl }}/chanting/abhayagiri-evening-english">Evening Chanting - English</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="{{ site.baseurl }}/chanting/taking-five-precepts">Five Precepts</a></li>
          <li><a href="{{ site.baseurl }}/chanting/three-refuges-eight-precepts">Three Refuges & Eight Precepts</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="{{ site.baseurl }}/chanting/five-recollections">Five Recollections</a></li>
          <li><a href="{{ site.baseurl }}/chanting/body-contemplation">Body Contemplation</a></li>
          <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes">Sublime Attitudes</a></li>
          <li class="dropdown-divider"></li>
          <li><a href="{{ site.baseurl }}/chanting/chant-of-metta">The Chant of Metta</a></li>
        </ul>
      </li>
    </ul>
  </div>
-->
<!--
  <li {% if page.url == '{{ site.baseurl }}/chanting/abhayagiri-morning' %}class="active hvr-pop"{% endif %} class="hvr-pop"><a href="{{ site.baseurl }}/chanting/abhayagiri-morning">Morning Chanting</a></li>
-->



<ul class="cd-navigation cd-single-item-wrapper">
  <li><a href="#0">Home</a></li>
  <li><a href="#0">Reading</a></li>
</ul> <!-- cd-single-item-wrapper -->

<nav id="cd-lateral-nav">
  <ul class="cd-navigation">
    <li class="item-has-children">
      <a href="#0">Chanting</a>
      <ul class="sub-menu">
        <li><a href="#0">Morning</a></li>
        <li><a href="#0">Evening</a></li>
        <li><a href="#0">Evening English</a></li>
      </ul>
    </li> <!-- item-has-children -->

</nav>
