  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ site.baseurl }}/chanting/morning" class="waves-effect waves-teal">Morning</a></li>
    <li><a href="{{ site.baseurl }}/chanting/evening-pali" class="waves-effect waves-teal">Evening - Pali</a></li>
    <li><a href="{{ site.baseurl }}/chanting/evening-english" class="waves-effect waves-teal">Evening - English</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.baseurl }}/chanting/five-precepts" class="waves-effect waves-light">Five Precepts</a></li>
    <li><a href="{{ site.baseurl }}/chanting/three-refuges-eight-precepts" class="waves-effect waves-light">Three Refuges & Eight Precepts</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.baseurl }}/chanting/body-contemplation" class="waves-effect waves-green">Body Contemplation</a></li>
    <li><a href="{{ site.baseurl }}/chanting/five-recollections" class="waves-effect waves-green">Five Recollections</a></li>
    <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes" class="waves-effect waves-yellow">Sublime Attitudes</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.baseurl }}/chanting/chant-of-metta" class="waves-effect waves-purple">The Chant of Metta</a></li>
  </ul>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey lighten-5">
          <a href="#!" class="brand-logo hide-on-med-and-down">Dhammapuja</a>
          <a href="#" data-activates="slide-out" class="button-collapse" aria-label="Mobile navigation menu toggle"><i class="ent-menu" aria-hidden="true"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light" aria-label="Home" href="{{ site.baseurl }}/">Home</a></li>
            <!--<li><a href="{{ site.baseurl }}/reading">Reading</a></li>-->
            <li><a class="dropdown-button waves-effect waves-light" href="#!" aria-label="Chant list dropdown" data-activates="dropdown1" data-constrainwidth="false" data-beloworigin="true" data-gutter="1">Chanting<i class="ent-chevron-down right" aria-hidden="true"></i></a></li>
          </ul>
          <ul id="slide-out" class="side-nav">
            <li><a href="{{ site.baseurl }}/" aria-label="Home" class="waves-effect waves-orange"><i class="ent-home" aria-hidden="true"></i>Home</a></li>
            <!--<li><a href="{{ site.baseurl }}/reading" class="waves-effect waves-red">Reading</a></li>-->
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">Chanting<i class="fa ent-chevron-small-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{{ site.baseurl }}/chanting/morning" class="waves-effect waves-teal">Morning</a></li>
                      <li><a href="{{ site.baseurl }}/chanting/evening-pali" class="waves-effect waves-teal">Evening - Pali</a></li>
                      <li><a href="{{ site.baseurl }}/chanting/evening-english" class="waves-effect waves-teal">Evening - English</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ site.baseurl }}/chanting/five-precepts" class="waves-effect waves-red">Five Precepts</a></li>
                      <li><a href="{{ site.baseurl }}/chanting/three-refuges-eight-precepts" class="waves-effect waves-red">Three Refuges & Eight Precepts</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ site.baseurl }}/chanting/body-contemplation" class="waves-effect waves-green">Body Contemplation</a></li>
                      <li><a href="{{ site.baseurl }}/chanting/five-recollections" class="waves-effect waves-green">Five Recollections</a></li>
                      <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes" class="waves-effect waves-yellow">Sublime Attitudes</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ site.baseurl }}/chanting/chant-of-metta" class="waves-effect waves-purple">The Chant of Metta</a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
