
  <ul id="dropdown-morn" class="dropdown-content">
    {% if page.active == "morning" %}
      <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light active">Morning</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light">Morning</a></li>
    {% endif %}
    {% if page.active == "body-contemplation" %}
      <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light active">Body Contemplation</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light">Body Contemplation</a></li>
    {% endif %}
    {% if page.active == "five-recollections" %}
      <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light active">Five Recollections</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light">Five Recollections</a></li>
    {% endif %}
    {% if page.active == "sublime-attitudes" %}
      <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light active">Sublime Attitudes</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light">Sublime Attitudes</a></li>
    {% endif %}
    <li class="divider"></li>
    {% if page.active == "metta-sutta-pali" %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light active">Metta Sutta (Pāḷi)</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light">Metta Sutta (Pāḷi)</a></li>
    {% endif %}
    {% if page.active == "metta-sutta-eng" %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light active">Metta Sutta (Eng.)</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light">Metta Sutta (Eng.)</a></li>
    {% endif %}
  </ul>
  <ul id="dropdown-eve" class="dropdown-content">
    {% if page.active == "eve - pali" %}
      <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light active">Evening - Pali</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light">Evening - Pali</a></li>
    {% endif %}
    {% if page.active == "eve - eng" %}
      <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light active">Evening - English</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light">Evening - English</a></li>
    {% endif %}
    {% if page.active == "body-contemplation" %}
      <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light active">Body Contemplation</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light">Body Contemplation</a></li>
    {% endif %}
    {% if page.active == "five-recollections" %}
      <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light active">Five Recollections</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light">Five Recollections</a></li>
    {% endif %}
    {% if page.active == "sublime-attitudes" %}
      <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light active">Sublime Attitudes</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light">Sublime Attitudes</a></li>
    {% endif %}
    <li class="divider"></li>
    {% if page.active == "metta-sutta-pali" %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light active">Metta Sutta (Pāḷi)</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light">Metta Sutta (Pāḷi)</a></li>
    {% endif %}
    {% if page.active == "metta-sutta-eng" %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light active">Metta Sutta (Eng.)</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light">Metta Sutta (Eng.)</a></li>
    {% endif %}
  </ul>
  <div class="navbar-fixed nav-down">
    <nav>
      <div class="nav-wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">Dhammapuja</a>
        <a href="#" data-activates="slide-out" class="button-collapse right" aria-label="Mobile navigation menu toggle"><i class="feather-menu" aria-hidden="true"></i></a>
        <ul class="right hide-on-med-and-down">
          {% if page.active == "home" %}
            <li class="waves-effect waves-light"><a class="active" aria-label="Home" href="{{ site.baseurl }}/">Home</a></li>
          {% else %}
            <li class="waves-effect waves-light"><a aria-label="Home" href="{{ site.baseurl }}/">Home</a></li>
          {% endif %}
          {% if page.active == "chant-home" %}
            <li><a class="active" href="{{ site.baseurl }}/chanting/">Chanting</a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/chanting/">Chanting</a></li>
          {% endif %}
            <li><a class="dropdown-button" href="#!" aria-label="Morning Chanting list dropdown" data-activates="dropdown-morn" data-constrainwidth="false" data-beloworigin="true" data-gutter="1">Morning<i class="feather-chevron-down right" aria-hidden="true"></i></a></li>
            <li><a class="dropdown-button" href="#!" aria-label="Evening Chanting list dropdown" data-activates="dropdown-eve" data-constrainwidth="false" data-beloworigin="true" data-gutter="1" data-alignment="right">Evening<i class="feather-chevron-down right" aria-hidden="true"></i></a></li>
          </ul>


        </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav">
    {% if page.active == "home" %}
      <li><a href="{{ site.baseurl }}/" class="waves-effect waves-light active side-nav-home"><i class="feather-home side-nav-home-icon" aria-hidden="true" aria-label="Home"></i>Home</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/" class="waves-effect waves-light side-nav-home"><i class="feather-home side-nav-home-icon" aria-hidden="true" aria-label="Home"></i>Home</a></li>
    {% endif %}
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="fa feather-chevron-down" aira-hidden="true" aria-label="Chanting dropdown menu"></i><a href="{{ site.baseurl }}/chanting/">Chanting</a></a>

          <div class="collapsible-body">
            <ul>
              {% if page.active == "morning" %}
                <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light active">Morning</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light">Morning</a></li>
              {% endif %}
              {% if page.active == "eve - pali" %}
                <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light active">Evening - Pali</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light">Evening - Pali</a></li>
              {% endif %}
              {% if page.active == "eve - eng" %}
                <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light active">Evening - English</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light">Evening - English</a></li>
              {% endif %}


              <li class="divider"></li>
              {% if page.active == "five-precepts" %}
                <li><a href="{{ site.baseurl }}/chanting/five-precepts/" class="waves-effect waves-light active">Five Precepts</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/five-precepts/" class="waves-effect waves-light">Five Precepts</a></li>
              {% endif %}
              {% if page.active == "eight-precepts" %}
                <li><a href="{{ site.baseurl }}/chanting/eight-precepts/" class="waves-effect waves-light active">Eight Precepts</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/eight-precepts/" class="waves-effect waves-light">Eight Precepts</a></li>
              {% endif %}


              <li class="divider"></li>
              {% if page.active == "body-contemplation" %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light active">Body Contemplation</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light">Body Contemplation</a></li>
              {% endif %}
              {% if page.active == "five-recollections" %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light active">Five Recollections</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light">Five Recollections</a></li>
              {% endif %}
              {% if page.active == "sublime-attitudes" %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light active">Sublime Attitudes</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light">Sublime Attitudes</a></li>
              {% endif %}

              {% if page.active == "verses-of-sharing-and-aspiration-pali" %}
                <li><a href="{{ site.baseurl }}/chanting/verses-of-sharing-and-aspiration-pali/" class="waves-effect waves-light active">Verses of Sharing (Pāḷi)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/verses-of-sharing-and-aspiration-pali/" class="waves-effect waves-light">Verses of Sharing (Pāḷi)</a></li>
              {% endif %}

              {% if page.active == "verses-of-sharing-and-aspiration-eng" %}
                <li><a href="{{ site.baseurl }}/chanting/verses-of-sharing-and-aspiration-eng/" class="waves-effect waves-light active">Verses of Sharing (Eng.)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/verses-of-sharing-and-aspiration-eng/" class="waves-effect waves-light">Verses of Sharing (Eng.)</a></li>
              {% endif %}

              {% if page.active == "suffusion-divine-abidings-pali" %}
                <li><a href="{{ site.baseurl }}/chanting/reflections/suffusion-divine-abidings-pali/" class="waves-effect waves-light active">Suffusion - Divine Abidings (Pāḷi)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/reflections/suffusion-divine-abidings-pali/" class="waves-effect waves-light">Suffusion - Divine Abidings (Pāḷi)</a></li>
              {% endif %}

              {% if page.active == "suffusion-divine-abidings-eng" %}
                <li><a href="{{ site.baseurl }}/chanting/reflections/suffusion-divine-abidings-eng/" class="waves-effect waves-light active">Suffusion - Divine Abidings (Eng.)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/reflections/suffusion-divine-abidings-eng/" class="waves-effect waves-light">Suffusion - Divine Abidings (Eng.)</a></li>
              {% endif %}


              <li class="divider"></li>
              {% if page.active == "metta-sutta-pali" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light active">Metta Sutta (Pāḷi)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light">Metta Sutta (Pāḷi)</a></li>
              {% endif %}
              {% if page.active == "metta-sutta-eng" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light active">Metta Sutta (Eng.)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light">Metta Sutta (Eng.)</a></li>
              {% endif %}


              <li class="divider"></li>
              {% if page.active == "invitation-to-devas" %}
                <li><a href="{{ site.baseurl }}/chanting/parittas/invitation-to-devas/" class="waves-effect waves-light active">Invitation to the Devas</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/parittas/invitation-to-devas/" class="waves-effect waves-light">Invitation to the Devas</a></li>
              {% endif %}


              <li class="divider"></li>
              {% if page.active == "chant-of-metta" %}
                <li><a href="{{ site.baseurl }}/chanting/chant-of-metta/" class="waves-effect waves-light active">The Chant of Metta</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/chant-of-metta/" class="waves-effect waves-light">The Chant of Metta</a></li>
              {% endif %}

            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-light"><i class="fa feather-chevron-down" aira-hidden="true" aria-label="Morning chanting dropdown menu"></i>Morning</a>

          <div class="collapsible-body">
            <ul>
              {% if page.active == "morning" %}
                <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light active">Morning</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/morning/" class="waves-effect waves-light">Morning</a></li>
              {% endif %}
              {% if page.active == "body-contemplation" %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light active">Body Contemplation</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light">Body Contemplation</a></li>
              {% endif %}
              {% if page.active == "five-recollections" %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light active">Five Recollections</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light">Five Recollections</a></li>
              {% endif %}
              {% if page.active == "sublime-attitudes" %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light active">Sublime Attitudes</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light">Sublime Attitudes</a></li>
              {% endif %}
              <li class="divider"></li>
              {% if page.active == "metta-sutta-pali" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light active">Metta Sutta (Pāḷi)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light">Metta Sutta (Pāḷi)</a></li>
              {% endif %}
              {% if page.active == "metta-sutta-eng" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light active">Metta Sutta (Eng.)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light">Metta Sutta (Eng.)</a></li>
              {% endif %}
              <li class="divider"></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-light"><i class="fa feather-chevron-down" aira-hidden="true" aria-label="Evening chanting dropdown menu"></i>Evening</a>

          <div class="collapsible-body">
            <ul>
              {% if page.active == "eve - pali" %}
                <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light active">Evening - Pali</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/evening-pali/" class="waves-effect waves-light">Evening - Pali</a></li>
              {% endif %}
              {% if page.active == "eve - eng" %}
                <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light active">Evening - English</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/evening-eng/" class="waves-effect waves-light">Evening - English</a></li>
              {% endif %}
              {% if page.active == "body-contemplation" %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light active">Body Contemplation</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/body-contemplation/" class="waves-effect waves-light">Body Contemplation</a></li>
              {% endif %}
              {% if page.active == "five-recollections" %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light active">Five Recollections</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/five-recollections/" class="waves-effect waves-light">Five Recollections</a></li>
              {% endif %}
              {% if page.active == "sublime-attitudes" %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light active">Sublime Attitudes</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/sublime-attitudes/" class="waves-effect waves-light">Sublime Attitudes</a></li>
              {% endif %}
              <li class="divider"></li>
              {% if page.active == "metta-sutta-pali" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light active">Metta Sutta (Pāḷi)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-pali/" class="waves-effect waves-light">Metta Sutta (Pāḷi)</a></li>
              {% endif %}
              {% if page.active == "metta-sutta-eng" %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light active">Metta Sutta (Eng.)</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}/chanting/metta-sutta-eng/" class="waves-effect waves-light">Metta Sutta (Eng.)</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href=""></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

  </ul>
