
  <div class="fixed-action-btn">

    <a class="waves-effect btn-floating" aria-label="Site options">
      <i class="feather-cog" aria-hidden="true"></i>
    </a>

    <ul>

      <li>
        <a class="waves-effect btn-floating" href="#top" aria-label="Jump to top" onclick="javascript:togSound();">
          <i class="feather-chevron-up" aria-hidden="true"></i>
        </a>
      </li>

      <li>
        <a class="waves-effect btn-floating invert" aria-label="Invert colours" id="inverter">
          <i class="feather-moon" aria-hidden="true"></i>
        </a>
      </li>

    </ul>

  </div>
