
  <div class="fixed-action-btn">
    <a class="btn-floating btn-medium waves-effect waves-light" aria-label="Site options">
      <i class="small ent-cog" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a class="btn-floating waves-effect waves-light" href="#top" aria-label="Jump to top" onclick="javascript:togSound();"><i class="ent-chevron-up" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating waves-effect waves-light invert" aria-label="Invert colours" id="inverter"><i class="ent-moon" aria-hidden="true"></i></a></li>
    </ul>
  </div>
