
  <div class="fixed-action-btn">
    <a class="btn-floating btn-medium waves-effect waves-light" style="background-color: #673AB7;" aria-label="Site options">
      <i class="large fa fa-cog" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a class="btn-floating waves-effect waves-light" style="background-color: #00BCD4;" href="#top" aria-label="Jump to top" onclick="javascript:togSound();"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating waves-effect waves-light invert" aria-label="Invert colours" id="inverter"><i class="fa fa-sun-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>
