
.btn-floating {
  margin-bottom: 1.5rem;
  //background-color: $day_fl_button_bg;
  //background-color: #ff8f00;
  background-color: #FCBA04;

  .night & {
    //background-color: $night_fl_button_bg;
    //background-color: #ff6f00;
    background-color: #FCBA04;
  }
}

.fixed-action-btn {
  font-size: 2rem;
}
/*
.feather-sun {
  //color: $night_ent_light_up;
  background-color: $day_fl_button_bg;

  .night & {
    background-color: $night_fl_button_bg;
  }
}*/

.feather-cog, .feather-chevron-up, .feather-moon, .feather-sun {
  background-color: $day_fl_button_bg;
  color: #212132 !important;

  .night & {
    background-color: $night_fl_button_bg;
    color: #fefefe !important;
  }
}
