main {
  display: flex;
  flex-direction: column;
  height: 20em;
}


#home-chant-link {

  color: #fff;/*#ffab40;*/
  border: 2px solid #fff;

  font: {
    size: 2em;
    weight: bold;
  }

  text: {
    decoration: none;
    -webkit-transform: uppercase;
            transform: uppercase;
    /*align: center;*/
  }

  letter-spacing: 3px;

  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #111;
  }
}

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.aligner-item--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
