.card-title {
  a {
    font-weight: 400;

    .night & {
      color: #FEFEFE;
    }
  }
}

.card {
  min-height: 20%;
  flex-wrap: wrap;
  flex: initial;

  .night & {
    background-color: #434343;
  }
}

.chant-list {
  margin-bottom: .5em;
}
