#home-chant-link {
  position: relative;

  color: white;//#ffab40;
  //background-color: white;
  border: 2px solid black;

  font: {
    size: 3em;
    weight: 800;
  }

  text: {
    decoration: none;
    transform: uppercase;
    //align: center;
  }

  letter-spacing: .5px;
  //transition: color .3s ease;
  //vertical-align: middle;
  cursor: pointer;

}
