/*
 *
 * Links
 *
 */
.night .a-highlight {
  color: $footer-a-colour-night;
}
.a-highlight {
  position: relative;

  color: #1eaedb;

  &:hover {
    color: #0fa0ce;

    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);

    -webkit-transition: all 0.2s ease-in-out 0s;
       -moz-transition: all 0.2s ease-in-out 0s;
         -o-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;

      &:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
           -moz-transform: scaleX(1);
             -o-transform: scaleX(1);
                transform: scaleX(1);
    }
  }

  &:before {
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -.5px;
    left: 0;

    background-color: #1eaedb;

    content: "";
    visibility: hidden;

    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);

    //-webkit-transition: all 0.2s ease-in-out 0s;
    //   -moz-transition: all 0.2s ease-in-out 0s;
    //     -o-transition: all 0.2s ease-in-out 0s;
    //        transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s cubic-bezier(.175,.885,.32,1.075);
       -moz-transition: all 0.2s cubic-bezier(.175,.885,.32,1.075);
         -o-transition: all 0.2s cubic-bezier(.175,.885,.32,1.075);
            transition: all 0.2s cubic-bezier(.175,.885,.32,1.075);
  }
}
