/**************
*    Global   *
**************/

// Navbar Colours
  //$day_nav_active: #8cb3cd;
  $nav-active-colour-day: #1eaedb;
  //$night_nav_active: #4495d4;
  $nav-active-colour-night: #a3e7fc;

  //$night_dropdown_content_bg: #444444;
  $nav-dropdown-content-bg-colour-night: #444444;
  //$night_nav_wrapper_bg: #333333;
  $nav-wrapper-bg-colour-night: #333333;

  //$night_nav_brand_logo: #f2f1ef;
  $nav-brand-logo-colour-night: #f2f1ef;

  //$day_nav_ul_a: #050709;
  $nav-ul-a-colour-day: #050709;
  //$day_ul_a: $day_nav_ul_a;
  $ul-a-colour-day: $nav-ul-a-colour-day;
  //$night_nav_ul_a: #fff;
  $nav-ul-a-colour-night: #fff;

  // Mobile Nav
    // hamburger
    //$night_ent_menu: rgba(255, 255, 255, 1);
    $nav-hamburger-night: rgba(255, 255, 255, 1);
    //$day_ent_menu: rgba(0, 0, 0, 0.54);
    $nav-hamburger-day: #050709;//rgba(0, 0, 0, 0.54);

    // sidenav
    //$night_side_nav_bg: #393939;
    $side-nav-bg-colour-night: #393939;
    //$night_side_nav_a: #fff;
    $side-nav-a-colour-night: #fff;
    //$night_side_nav_coll_bod_bg: #494949;
    $side-nav-collapse-bod-bg-colour-night: #494949;

// Body Colours
  //$day_body_bg: #f7f7f7;
  $body-bg-colour-day: #f7f7f7;
  //$night_body_bg: #333333;
  $body-bg-colour-night: #333333;

  //$day_body_txt: #373a3c;
  $body-txt-colour-day: #373a3c;
  //$night_body_txt: #e6e6e6;
  $body-txt-colour-night: #e6e6e6;

// Headers & Paragraph Colours

  //$night_h3: #f2f1ef;
  $h3-colour-night: #f2f1ef;
  //$night_p: #fefefe;
  $p-colour-night: #fefefe;

// Floating Button

  //$day_fl_button_bg: #FCBA04;
  $fl-button-bg-colour-day: #212132; //#fcba04;
  //$night_fl_button_bg: #fcba04;
  $fl-button-bg-colour-night: #f2f1ef; //#fcba04;

  $fl-button-icon-colour-day: #f7f7f7;
  $fl-button-icon-colour-night: #333333;

  //$night_ent_light_up: #fff176;
  //$day_ent_moon: #050709;

  $fl-button-icon-feather-sun-colour: gold;

// Chanting

  $chanting-time-colour: green;
  //$ul_display_time: #cccccc;
  $chanting-ul-display-time-colour: #cccccc;

  //$day_highlight: #ccffcc; //#ddffdd
  $chanting-highlight-colour-day: #ccffcc;
  //$night_highlight: #ccffe6; //#4196b0;
  $chanting-highlight-colour-night: #ccffe6;
  //$night_highlight_text: #050709;
  $chanting-highlight-text-colour-night: #050709;

// Footer
  //$day_footer_bg: #f7f7f7;
  $footer-bg-colour-day: #f7f7f7;
  //$night_footer_bg: #333333;
  $footer-bg-colour-night: #333333;

  //$day_footer_copy_bg: #e6e6e6;
  $footer-copyr-bg-colour-day: #e6e6e6;
  //$night_footer_copy_bg: #222222;
  $footer-copyr-bg-colour-night: #222222;

  //$footer_a: #1eaedb;
  //$footer_a: #1eaedb;
  $footer-a-colour: #1eaedb;
  //$footer_a_night: #a3e7fc;
  $footer-a-colour-night: #a3e7fc;
  //$day_footer_h5: #000000;
  $footer-h5-colour-day: #000000;
  //$night_footer_h5: #f2f1ef;
  $footer-h5-colour-night: #f2f1ef;
  //$day_footer_p: #212132;
  $footer-p-colour-day: #212132;
  //$night_footer_p: #f2f1ef;
  $footer-p-colour-night: #f2f1ef;
