body {

  //transition: color 300ms ease background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
          transition: background-color 300ms ease; // for nightmode toggle of background colour

  background-color: $day_colour-background;

}

.night {

  background-color: $night_colour-background;

}

$mobile-small: 240;
$mobile-large: 320;
$tablet-small: 480;
$tablet-large: 768;
$screen-small: 1024;
$screen-large: 1280;
