body {

  //transition: color 300ms ease background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
          transition: background-color 300ms ease; // for nightmode toggle of background colour

  background-color: $body-bg-colour-day;

}

.night {

  background-color: $night_colour-background;

}

/*
.night {
  background-color: $night_colour-background;
  color: $night_colour-text;

  // h3 {
  //   color: $h3-colour-night;
  // }
  p {
    color: $p-colour-night;
  }
}
*/
