.chant-list {
  margin-bottom: .53em;
  //text-indent: 0.1%;

  &>li {
    margin-bottom: .1em;
  }

  &>li>a {
    font-size: .85em;
    text-indent: 0.1%;
  }

  & h4 {
    margin-bottom: .5em;
  }

  .night &>li>i {
      color: $platinum;
    }

}
