@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 130%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%; /* or higher percentages. It's up to your taste */
  }
}


.home--section__bg {
  background-color: $day_colour-background;

  .night & {
    background-color: $night_colour-background;
  }
}
