
/*
 * Typography
 */
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
@media screen and (max-width: 768px) {
  body { -webkit-overflow-scrolling: touch; }
}
p { line-height: 1.9; }
h1 { font-weight: 700; line-height: 1.3; }
h2 { font-weight: 500; line-height: 1.3; }

/*
 * Nav Menu
 */
nav li > a.active { color: #000 !important; }
.dropdown-content.active li > a.active { color: #000 !important; }
.night nav li > a.active { color: #8CB3CD !important; }
.night .dropdown-content.active li > a.active { color: #8CB3CD !important;}

#sidenav-overlay { z-index: 1; } /* removes the sidenav overlay shadow */
.button-collapse { font-size: 2.5rem; cursor: pointer; }
.brand-logo { letter-spacing: .09em; }
nav li a { letter-spacing: .08em; }
nav .brand-logo {
  padding-left: 1%;
  color: #050709;
  font-weight: 600;
}
.navbar-fixed { transition: top 0.2s ease-in-out; }
.nav-up { top: -70px; }
@media (max-width: 992px) {
  /*nav { background-color: transparent !important; box-shadow: none; }
  .grey.lighten-5 { background-color: transparent !important; }
  .night .grey.lighten-5 { background-color: transparent !important; }*/
  .ent-menu { color: rgba(0, 0, 0, 0.54);  }
  .night .ent-menu {  color: rgba(255, 255, 255, 1); }

  .night nav ul a { color: #fff; }
  .night .side-nav { background-color: #393939; }
  .night .side-nav a { color: #fff; }
  .night .side-nav .collapsible-body { background-color: #494949; }
}
@media (min-width: 993px) { .night nav ul a { color: #fff !important; } }
/*
 * Night Mode
 */
/* site wide */
  .day { background-color: #EEEEEE; color: #373a3c; }
  .night { background-color: #262626; color: #f2f1ef; }
  .night h3 { color: #f2f1ef; }
  .night p { color: #fefefe; }

/* nav */
  .night .dropdown-content { background-color: #262626; }
  .night .nav-wrapper { background-color: #212121 !important; }
  .night .brand-logo { color: #f2f1ef; }
  nav ul a { color: #050709; }
  .day nav ul a { color: #050709; }

/*
 * Floating Botton
 */
.btn-floating { margin-bottom: 1.5rem; }
.fixed-action-btn { font-size: 2rem !important; }
.night .ent-light-up {background-color: #009688;  color: #FFC107 !important; }
.day .ent-cog { color: #050709; }
.day .ent-chevron-up { color: #050709; }
.day .ent-moon { color: #050709; }
.ent-chevron-up { background-color: #00BCD4; }
