/**
 * Footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }

.page-footer a { color: #8CB3CD; }
.night .page-footer { background-color: #212121 !important; }
.day .page-footer h5 { color: #000000; }
.day .page-footer p { color: #212132; }
.night .page-footer h5 { color: #f2f1ef; }
.night .page-footer p { color: #f2f1ef; }

/**
 * Chanting Home
 */
.card-title a { font-weight: 400;}
.night .card-title a { color: #fefefe; }
.night .card { background-color: #151616; }


    .card
    {
      min-height: 20%;
      flex-wrap: wrap;
      flex: initial;
    }
