body {
  color: #f2f1ef;
  background-color: #262626;
}
p {
  color: #fefefe;
}

ul.display .highlight {
  background-color: #1ba39c
}

h3 {
  color: #f2f1ef;
}
/*
.togBut {
  border: 2px solid white;
  border-radius: 25px;
  background: #8296DF;
  margin-top: 5%;

}

.togBut:hover {
  background: black;
  color: white;
}
*/
