#data { display: none; }

#audio {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 30px;

  background-color: black;
}

#audio audio { width: 100%; height: 100%; }


#time {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;

  display: none;

  width: 3.3em;
  height: 1em;
  padding: 0.2em;

  text-align: right;
  vertical-align: bottom;

  color: green;
  border-top: 5px solid green;
  border-left: 5px solid green;

  font-size: 3em;
}

ul.display {
  position: relative;

  width: 100%;
  height: auto;

  display: block;
  margin: 0 auto;
}
@media (min-width: 750px) {
  ul.display{
    padding: 0 2em;
  }
}
@media (min-width: 1000px) {
  ul.display {
    padding: 0 5em;
  }
}

ul.display p {
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 2.0;
  letter-spacing: 0.060em;
}
.night ul.display p { letter-spacing: 0.070em; }

ul.display h1, h2, h3 { text-rendering: optimizeLegibility; letter-spacing: 0.025em; }
.night ul.display h1, h2, h3 { letter-spacing: 0.035em;}
ul.display h3 { margin-bottom: 8%; }

ul.display li {
  position: relative;

  margin: 0;
  padding: 0 2em;

  list-style-type: none;

  cursor: pointer;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;

  border-radius: 20px;

  text-overflow: ellipsis;
}
  @media (min-width: 1000px) {
    ul.display li p, ul.display li h2, ul.display li h3 { padding: 0.1em 0; }
  }
  @media (max-width: 750px) {
    ul.display li p, ul.display li h2, ul.display li h3 { padding: 0.1em 0; }
  }

ul.display p {
  margin: 0.5em auto;
}
ul.display .time {
  position: absolute;
  top: 2.4em;
  left: -4em;

  display: none;

  width: 3em;

  text-align: right;

  color: #cccccc;

  font-size: 0.5em;
}
ul.display .en { margin-left: 1em; font-style: italic; }
ul.display .highlight { background-color: #ddffdd; }
ul.display .highlight p { font-weight: 600; }
.night ul.display .highlight { background-color: #4196B0; }
.night ul.display .highlight p,
.night ul.display .highlight h1,
.night ul.display .highlight h2,
.night ul.display .highlight h3  { color: #050709; }

ul.display p .un { text-decoration: underline; }

ul.display p span.t { position: relative; white-space: pre; }

ul.display p span.t>span {
  position: absolute;
  top: 0;
  left: -200%;

  display: inline-block;

  width: 500%;
  height: 100%;
}

ul.display p span.t>span>span {
  display: block;

  width: 0;
  height: 0;
  margin: 0 auto;

  border-style: solid;
}

ul.display p span.t>span>.u {
  border-width: 0 0.25em 0.15em 0.25em;
  border-color: transparent transparent #ff8800 transparent;
}

ul.display p span.t>span>.d {
  margin-top: 1.2em;

  border-width: 0.15em 0.25em 0 0.25em;
  border-color: blue transparent transparent transparent;
}

ul.display p span.t>span>.uu {
  border-width: 0 0.5em 0.2em 0.5em;
  border-color: transparent transparent #ff8800 transparent;
}

ul.display p span.t>span>.dd {
  margin-top: 1.2em;

  border-width: 0.2em 0.5em 0 0.5em;
  border-color: blue transparent transparent transparent;
}

.night ul.display p span.t>span>.d {
  border-color: #E91E63 transparent transparent transparent;
}

.stud { color: rgb(226, 173, 56); }
