/**
 * Footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }
footer { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2); }

.page-footer a { color: #8CB3CD; }
.night .page-footer { background-color: #333333 !important; }
.night .footer-copyright { background-color: #222222 !important;}
.page-footer { background-color: #F7F7F7 !important;}
.day .page-footer { background-color: #F7F7F7 !important; }
.footer-copyright { background-color: #E6E6E6 !important; }
.day .footer-copyright { background-color: #E6E6E6 !important; }
.day .page-footer h5 { color: #000000; }
.day .page-footer p { color: #212132; }
.night .page-footer h5 { color: #f2f1ef; }
.night .page-footer p { color: #f2f1ef; }

/**
 * Chanting Home
 */
.card-title a { font-weight: 400;}
.night .card-title a { color: #fefefe; }
.night .card { background-color: #151616; }
.card {
  min-height: 20%;
  flex-wrap: wrap;
  flex: initial;
}

.contribute-contain {
  bottom: 20px;
  /*right: 20px;*/
  margin-left: 1em;
  position: fixed;
  padding: 10px;
  background-color: #fff;
  z-index: 1000;
}

.contribute-contain a.contribute-close {
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  height: 24px;
  width: 24px;
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 1;
  transition: background-color .2s;
}
.contribute {
  max-width: 150px;
  display: inline-block;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
.contribute-text {
  top: 0;
  left: 0;
  width: 130px;
  display: block;
  font-size: 13px;

}
