nav .brand-logo {
  font-family: 'Open Sans', sans-serif;
  color: $day_colour-nav-hamburger;
  font-weight: 500;

  @media screen and (min-width: 993px) {
    padding-left: 1%;
    font-weight: 600;
  }

  .night & {
    color: $night_colour-brand-logo;
  }
}

.dropdown-content {
  background-color: $day_colour-nav-dropdown-bg;
  .night & {
    background-color: $night_colour-nav-dropdown-bg;
  }


  &.active li > a.active {
    color: $day_colour-nav-a--active !important;

    .night & {
      color: $night_colour-nav-a-dropdown--active !important;
    }
  }

  & li > a:hover {
    background-color: rgba(0,0,0,0.1);
  }


  li > a, li > span {
    color: $day_colour-nav-dropdown-a;

    .night & {
      color: $night_colour-nav-dropdown-a;
    }

  }

}


.nav-wrapper {
  background-color: $day_colour-nav-bg;

  .night & {
    background-color: $night_colour-nav-bg !important;
  }
}

nav {
  li > a {

    &.active {
      color: $day_colour-nav-a--active;

      .night & {
        color: $night_colour-nav-a--active !important;
      }

      .night &:hover {
        //color: $night_colour-text-link--visted !important;
        background-color: rgba(0,0,0,0.1);
      }
    }

  }

  ul a {
    font-weight: 500;
    color: $day_colour-nav-a;

    .night & {
      color: $night_colour-nav-a;
    }

    .night &:hover {

      background-color: $anti-flash-white;
      color: $jet--dark;
      }
  }

}

.nav-up { top: -70px; }

.navbar-fixed { transition: top 0.2s ease-in-out; }
