  <footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col l4 s12">
          <p class="memo flow-text">Dhammapuja is a tool for learning Theravadin chants.</p>
        </div>
        <div class="col l2 offset-l1 s12">
          <ul>
            <li><a href="https://github.com/job-talk/dhammapuja/wiki/Chanting-Resources-(Audio-&-Textual)">Resources</a></li>
            <li><a href="https://github.com/job-talk/dhammapuja/wiki">Wiki</a></li>
          </ul>
        </div>

        <div class="col l2 s12">
          <ul>
            <li><a href="https://github.com/job-talk/dhammapuja/wiki/Credits">Credits</a></li>
            <li><a href="https://github.com/job-talk/dhammapuja">GitHub</a></li>
            <li><a href="https://github.com/job-talk/dhammapuja/wiki#why-chant">Why Chant?</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">

        <a href="https://github.com/job-talk/dhammapuja">Made with ♥</a>

        <a class="right" href="https://gnu.org/licenses/quick-guide-gplv3.html">GPL-3.0</a>

      </div>
    </div>
  </footer>
