  {% include scripts/common_scripts.html %}

  <script src="{{ site.baseurl }}../../assets/js/chanting.js" type="text/javascript"></script>

  <script>
    /* Add a script element as a child of the body */
     function downloadJSAtOnload() {
     var element = document.createElement("script");
     element.src = "{{ site.baseurl }}../../assets/js/jquery/jquery.smooth-scroll.js";
     document.body.appendChild(element);
     }

     /* Check for browser support of event handling capability */
     if (window.addEventListener)
     window.addEventListener("load", downloadJSAtOnload, false);
     else if (window.attachEvent)
     window.attachEvent("onload", downloadJSAtOnload);
     else window.onload = downloadJSAtOnload;
  </script>

  <script>
    /* Add a script element as a child of the body */
     function downloadJSAtOnload() {
     var element = document.createElement("script");
     element.src = "{{ site.baseurl }}../../assets/js/scripts.js";
     document.body.appendChild(element);
     }

     /* Check for browser support of event handling capability */
     if (window.addEventListener)
     window.addEventListener("load", downloadJSAtOnload, false);
     else if (window.attachEvent)
     window.attachEvent("onload", downloadJSAtOnload);
     else window.onload = downloadJSAtOnload;
  </script>

  <script type="text/javascript">
  /* pauses the track on button click-'jump-to-top' */
    var audioElem = document.getElementById('track');

    /* Initializing values */
    var onplaying = true;
    var onpause = false;

    /* On audio playing toggle values */
    audioElem.onplaying = function() {
      onplaying = true;
      onpause = false;
    };

    /* On audio pause toggle values */
    audioElem.onpause = function() {
      onplaying = false;
      onpause = true;
    };

    /* Pause audio function */
    function togSound () {
      if (!audioElem.paused) {
          if(!onpause){
              audioElem.pause();
              audioElem.currentTime = 0;
          }
      }
    }
  </script>
