  {% include scripts/common_scripts.html %}

  {% js chant-bundle %}

  <script type="text/javascript">
  /* pauses the track on button click-'jump-to-top' */
    var audioElem = document.getElementById('track');
    /* Initializing values */
    var onplaying = true;
    var onpause = false;
    /* On audio playing toggle values */
    audioElem.onplaying = function() {
      onplaying = true;
      onpause = false;
    };
    /* On audio pause toggle values */
    audioElem.onpause = function() {
      onplaying = false;
      onpause = true;
    };
    /* Pause audio function */
    function togSound () {
      if (!audioElem.paused) {
          if(!onpause){
              audioElem.pause();
              audioElem.currentTime = 0;
          }
      }
    }
  </script>
