<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js" integrity="sha256-lK8S4o0CBVYFFjMUlp5eE7KDfGe1zZpL+yeKU5vj83g=" crossorigin="anonymous"></script>


<script>
  $(".button-collapse").sideNav({
    menuWidth: 270,
    edge: 'right',
    closeOnClick: true,
    draggable: true
  });

  $('.collapsible').collapsible();
</script>
