<script>
  var dfLoadStatus = 0;
  var dfLoadFiles = [
        ["{% asset_path main.js %}"]
       ];

  function downloadJSAtOnload() {
      if (!dfLoadFiles.length) return;

      var dfGroup = dfLoadFiles.shift();
      dfLoadStatus = 0;

      for(var i = 0; i<dfGroup.length; i++) {
          dfLoadStatus++;
          var element = document.createElement('script');
          element.src = dfGroup[i];
          element.onload = element.onreadystatechange = function() {
          if ( ! this.readyState ||
                 this.readyState == 'complete') {
              dfLoadStatus--;
              if (dfLoadStatus==0) downloadJSAtOnload();
          }
      };
      document.body.appendChild(element);
    }

  }

  if (window.addEventListener)
      window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
      window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>
