<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" integrity="sha256-pVJ6toFhRjat2LSvxugXvMnNDp33i00nfn0CpPXZevs=" crossorigin="anonymous"></script>


<script>
  /* Initialize collapse button */
  $(".button-collapse").sideNav({
    menuWidth: 280,
    edge: 'right',
    closeOnClick: true,
    draggable: true
  });
  /* Initialize collapsible (uncomment the line below if you use the dropdown variation) */
  $('.collapsible').collapsible();
</script>
