
.btn-floating {

  margin-bottom: 1.5rem;
  background-color: $day_colour-fl-button-bg;

  .night & {
    background-color: $night_colour-fl-button-bg;
  }

}


.fixed-action-btn {
  font-size: 2rem;
  bottom: 5%;
}


.feather-cog, .feather-chevron-up, .feather-moon, .feather-sun {

  background-color: $day_colour-fl-button-bg;

  color: $day_colour-fl-button-icon;

  .night & {
    background-color: $night_colour-fl-button-bg;

    color: $night_colour-fl-button-icon !important;
  }

}
