
// Day-Chanting
  $chanting-time-colour: green;
  $colour-chanting-ul-display-time: #cccccc; // for debugging - hidden by default


// ******************* //
// ******************* //
//     Day Mode      //
// ******************* //
// ******************* //


// Colours

  // Day (Default)

    // Whites
      $white-smoke: #F6F6F6;
      //$white-smoke-y2: #F7F7F7;
      $white-smoke-x2: #F3F3F3;
      $pastel-gray: #CACACA;

      $white-smoke: $white-smoke;
      $white-smoke--light: $white-smoke-x2;
      $white-smoke--dark: $pastel-gray;

    // Blacks
      $onyx: #373A3C;
      $outer-space-day: #494B4D;
      $jet-day: #2E3032;

      $onyx: $onyx;
      $onyx--light: $outer-space-day;
      $onyx--dark: $jet-day;

    // Grays
      $black-olive: #393E41;
      $granite-gray: #5D6163;

      $black-olive: $black-olive;
      $black-olive--light: $granite-gray;

    // Links
      $picton-blue: #48ACF0;
      $very-light-azure: #69BBF2;
      $tufts-blue: #3B8DC5;

      $picton-blue: $picton-blue;
      $picton-blue--light: $very-light-azure;
      $picton-blue--dark: $tufts-blue;

    // End of Day colour declorations

    // Body

      // Background
        $day_colour-background: $white-smoke; // Main BG
        $day_colour-background-shade-1: $white-smoke--light; // Navbar & footer credits
        $day_colour-background-shade-2: $white-smoke--dark; // Footer copyr.

      // Text
        $day_colour-text: $onyx; // Main Text
        $day_colour-text-weak: $onyx--light; // Weak Text
        $day_colour-text-strong: $onyx--dark; // Strong Text
        $day_colour-text-heading: $onyx--dark; // Headings


    // Links

      $day_colour-text-link: $picton-blue;
      $day_colour-text-link--visited: $picton-blue--dark;
      $day_colour-text-link--hover: $picton-blue--light;


    // Navbar

      // Desktop

        $day_colour-nav-bg: $day_colour-background-shade-1;
        // $day_colour-brand-logo: ;
        $day_colour-nav-a: $onyx--light;
        $day_colour-nav-dropdown-bg: $white-smoke;
        $day_colour-nav-dropdown-a: $onyx;

        $day_colour-nav-a--active: $picton-blue;
        $day_colour-nav-a-dropdown--active: $picton-blue;

      // Mobile Sidenav

        // Hamburger

          $day_colour-nav-hamburger: #050709;

        // Sidenav

          $day_colour-sidenav-bg: #fff;
          $day_colour-sidenav-dropdown-bg: #fefefe;

          $day_colour-sidenav-a: $onyx--dark;
          $day_colour-sidenav-dropdown-a: $onyx;


    // Footer

      $day_colour-footer-credits-bg: $day_colour-background-shade-1;
      $day_colour-footer-copyright-bg: rgba(51,51,51,0.08);

      $day_colour-footer-credits-text: $onyx--dark;
      // $day_colour-footer-credits-a: ;

      // $day_colour-footer-copyright-a: ;


    // Floating Button

      $day_colour-fl-button-bg: $onyx--dark;
      $day_colour-fl-button-icon: $white-smoke--light;
      //$day_colour-fl-button-icon--moon: ;


    // Chanting
      $pale-goldenrod: #ECFEAA;
      $quinacridone-magneta: #912F56;
      $picton-blue-chant: #30BCED;

      $day_colour-chant-highlight: $pale-goldenrod;
      // $day_colour-chant-highlight--text: ;

      $day_colour-chant-text-pali: $day_colour-text-strong;

      $day_colour-pali-diacritical--u: $quinacridone-magneta;
      $day_colour-pali-diacritical--d: $picton-blue-chant;
      //$day_colour-pali-diacritical--uu: $quinacridone-magneta ;
      $day_colour-pali-diacritical--dd: $picton-blue-chant;

// ----------------------------
// ----------------------------

// ******************* //
// ******************* //
//     Night Mode      //
// ******************* //
// ******************* //

  // Night
    // Base Definitions

    // $primary: #333333;
    // $white: #E6E6E6;
    // $active: #258EA6;

    // Y === Lighter
    // X === Darker
    // $name--1y === Colour 1 times lighter than base
    // ex. isabelline--4y means 4 times lighter than base white

    // Blacks
      $jet: #333333; // Black - Primary
      $davys-grey: #585858; // Jet - Shade Light
      $charleston-green: #2A2A2A; // Jet - Shade Dark

      $jet: $jet;
      $jet--light: $davys-grey;
      $jet--dark: $charleston-green;


    // Whites
      $platinum: #E6E6E6; // White - Secondary
      $isabelline: #EAEAEA; // White - Shade Light
      $x11-gray: #BDBDBD; // White - Shade Dark

      $platinum: $platinum;
      $platinum--light: $isabelline;
      $platinum--dark: $x11-gray;


    // Links
      $livid: #62B6CB; // Links & Active
      $dark-sky-blue: #7EC3D4; // Links Hover
      $rackley: #5195A7; // Links Visited

      $livid: $livid;
      $livid--light: $dark-sky-blue;
      $livid--dark: $rackley;


    // Floating Button
      $mikado-yellow: #F9C80E; // Sun icon


    // Body

      // Background
        $outer-space: #454545; // Navbar & Footer credits bg
        //$davys-grey: #585858; // Footer copygright bg

        $night_colour-background: $jet; // Main BG
        $night_colour-background-shade: $jet--dark; // Navbar & footer credits
        $night_colour-background-shade--2: $jet--light; // Footer copyr.

      // Text
        //$light-gray: #D2D2D2; // Weak
        $white: #FFFFFF; // Strong

        $night_colour-text: $platinum; // Main text
        $night_colour-text-weak: $platinum--dark; // Weak text
        $night_colour-text-strong: $white; // Strong text
        $night_colour-text-heading: $platinum--light; // Headings


    // Link

      $night_colour-text-link: $livid;
      $night_colour-text-link--visited: $livid--dark;
      $night_colour-text-link--hover: $livid--light;


    // Navbar

      // Desktop

        $anti-flash-white: #F1F1F1;
        //$isabelline--4y: #EFEFEF;

        $night_colour-nav-bg: $jet--dark;
        $night_colour-brand-logo: $anti-flash-white;
        $night_colour-nav-a: $platinum--light; //$isabelline--4y
        $night_colour-nav-dropdown-bg: $jet--light;
        $night_colour-nav-dropdown-a: $white;

        $night_colour-nav-a--active: $livid;
        $night_colour-nav-a-dropdown--active: $livid;

      // Mobile Sidenav

        // Hambuger

          $night_colour-nav-hamburger: $white;

        // Sidenav

          $night_colour-sidenav-bg: $jet--dark; //$outer-space
          $night_colour-sidenav-dropdown-bg: $jet; //$jet--light

          $night_colour-sidenav-a: $platinum--light; //$isabelline--4y
          $night_colour-sidenav-dropdown-a: $platinum; //platinum--light


    // Footer

      $night_colour-footer-credits-bg: $jet--light;
      $night_colour-footer-copyright-bg: $jet--dark;

      $night_colour-footer-credits-text: $platinum;
      $night_colour-footer-credits-a: $livid;

      $night_colour-footer-copyright-a: $livid;


    // Floating Button

      $night_colour-fl-button-bg: $white; // rgba(255, 255, 255, 1)
      $night_colour-fl-button-icon: $jet;
      $night_colour-fl-button-icon--sun: $mikado-yellow;



    // Chanting

    $tea-green: #D6FFB7;
    $giants-orange: #F86624;
    $dogwood-rose: #D81E5B;
    $spiro-disco-ball: #2EC0F9;

    $night_colour-chant-highlight: $tea-green;
    $night_colour-chant-highlight--text: $jet--dark;

    $night_colour-pali-diacritical--u: $giants-orange;
    $night_colour-pali-diacritical--d: $dogwood-rose;
    //$night_colour-pali-diacritical--uu: ;
    $night_colour-pali-diacritical--dd: $spiro-disco-ball;

    $night_colour-chant-text--pali: $platinum--light;
