.collapsible-header {
  //min-height: $collapsible-height;

  & i {
    font-size: 1.3rem;
  }

}

.sidenav li > a > i {
  margin-right: 17px;
}

pre {
  display: none; // fixes the spacing between navbar and chanting display
}
