//*
//*
//* Links
//*
//*

a:hover {
  color: $day_colour-text-link--hover;

  .night & {
    color: $night_colour-text-link--hover;
  }
}

.footer-copyright a {
  color: $day_colour-text-link--hover;

  .night &:hover {
    color: $livid--light;
  }
}
