<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head-home-chant.html %}


  <body class="home">
    {% include nav.html %}
    <div id="wrapper">
      <main class="home-content">

        <div class="container-fluid">

          <button class="hamburger hamburger--vortex" id="my-icon" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          {{ content }}

        </div>
      </main>
      {% include footer.html %}
    </div>


    <!-- Bootstrap JS CDN -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap local fallback -->
    <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="../../js/bootstrap.min.js"><\/script>')}</script>

    <!-- Bootstrap CSS local fallback -->
    <script>
      $(document).ready(function() {
        var bodyColor = $('body').css('color');
        if(bodyColor != 'rgb(51, 51, 51)') {
          $("head").prepend('<link rel="stylesheet" href="../../css/bootstrap.min.css">');
        }
      });
    </script>

    <script type="text/javascript" src="../../js/flowtype.js"></script>

    <script>
    var $=jQuery.noConflict();
    $(document).ready(function(){
      $('h1').flowtype({
        minimum   : 320,
        maximum   : 1200,
        minFont   : 16,
        maxFont   : 50,
      }),
      $('h1').flowtype({
        fontRatio: 15
      });
    });
    </script>
    <script type="text/javascript" src="../../js/time.js"></script>

  {% include mmenu-body.html %}

  </body>

</html>
