<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head-chanting.html %}

<body>
  <header> {% include nav.html %} </header>
    <div class="container-fluid">
      <button class="hamburger hamburger--vortex" id="my-icon" href="#sidr" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      {{ content }}
    </div>

  <script src="../../js/pali.js" type="text/javascript"></script>
  <script src="../../js/chanting.js" type="text/javascript"></script>

  <!-- Bootstrap JS CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  <!-- Bootstrap local fallback -->
  <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="../../js/bootstrap.min.js"><\/script>')}</script>

  <!-- Bootstrap CSS local fallback -->
  <script>
    $(document).ready(function() {
      var bodyColor = $('body').css('color');
      if(bodyColor != 'rgb(51, 51, 51)') {
        $("head").prepend('<link rel="stylesheet" href="../../css/bootstrap.min.css">');
      }
    });
  </script>

  <script type="text/javascript" src="../../js/flowtype.js"></script>
  <script type="text/javascript" src="../../js/jquery/jquery.smooth-scroll.js"></script>

  <script>
    var $=jQuery.noConflict();
    $(document).ready(function(){
      $('p').flowtype({
        minimum   : 320,
        maximum   : 1200,
        minFont   : 12,
        maxFont   : 40,
        fontRatio : 22
      });
      $('h1').flowtype({
        fontRatio : 15
      }),
      $('h2').flowtype({
        fontRatio : 20
      }),
      $('h3').flowtype({
        fontRatio : 30
      })
    });
  </script>
  <script type="text/javascript" src="../../js/time.js"></script>

  <script src="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js" integrity="sha256-/VeucihXSoNSfLiRfsWg/5RKp4eTTuW4Wnl28lm3rjE=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      $('#my-icon').sidr({
        renaming: false
      });

      $('.submenu-button').click(function(e) {
          e.preventDefault();
          $(this).next().slideToggle();
      });
    });
  </script>

  <script>
    var $hamburger = $(".hamburger");
      $hamburger.on("click", function(e) {
        $hamburger.toggleClass("is-active");
        // Do something else, like open/close menu
    });
  </script>

</body>

</html>
