
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head_home_chant.html %}

<body>

  <header>
    {% include sidebar.html %}
  </header>

  <main>
    {% include tog_invert.html %}
    {{ content }}

  </main>

  {% include footer.html %}


  <!-- jQuery CDN -->
  <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/materialize/0.97.8/js/materialize.min.js" integrity="sha256-pVJ6toFhRjat2LSvxugXvMnNDp33i00nfn0CpPXZevs=" crossorigin="anonymous"></script>

  <script src="{{ site.baseurl }}../assets/js/flowtype.js" type="text/javascript"></script>

  <script>
    // Add a script element as a child of the body
     function downloadJSAtOnload() {
     var element = document.createElement("script");
     element.src = "{{ site.baseurl }}../assets/js/night_mode.js";
     document.body.appendChild(element);
     }

     // Check for browser support of event handling capability
     if (window.addEventListener)
     window.addEventListener("load", downloadJSAtOnload, false);
     else if (window.attachEvent)
     window.attachEvent("onload", downloadJSAtOnload);
     else window.onload = downloadJSAtOnload;
  </script>


  <script>
    var $ = jQuery.noConflict();
    $(document).ready(function(){
      $('.memo').flowtype({
        minimum   : 320,
        maximum   : 1200,
        minFont   : 14,
        maxFont   : 30,
        fontRatio : 20
      }),
      $('.credits').flowtype({
        minimum   : 320,
        maximum   : 1200,
        minFont   : 12,
        maxFont   : 30,
        fontRatio : 18
      })
    });
  </script>

  <script>
    // Initialize collapse button
    $(".button-collapse").sideNav({
      menuWidth: 260,
      edge: 'right',
      closeOnClick: true,
      draggable: true
    });
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    $('.collapsible').collapsible();
  </script>

</body>

</html>
