---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/head_home_chant.html %}

<body>

  <header>
    {% include sidebar.html %}
  </header>

  <main>
    {% include tog_invert.html %}
    {{ content }}

  </main>

  {% include footer.html %}

  {% include scripts/common_scripts.html %}

  <script>
    /* Add a script element as a child of the body */
     function downloadJSAtOnload() {
     var element = document.createElement("script");
     element.src = "{{ site.baseurl }}../assets/js/scripts.js";
     document.body.appendChild(element);
     }

     /* Check for browser support of event handling capability */
     if (window.addEventListener)
     window.addEventListener("load", downloadJSAtOnload, false);
     else if (window.attachEvent)
     window.attachEvent("onload", downloadJSAtOnload);
     else window.onload = downloadJSAtOnload;
  </script>


</body>

</html>
