---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head/head_home.html %}

<body>

  <header>
    {% include sidebar.html %}
  </header>

  <main>
    {% include tog_invert.html %}

    {{ content }}

  </main>

  {% include footer.html %}

  {% include common_scripts.html %}

  <script src="{{ site.baseurl }}/assets/js/flowtype.js" type="text/javascript"></script>

  <script>
    /* Add a script element as a child of the body */
     function downloadJSAtOnload() {
     var element = document.createElement("script");
     element.src = "{{ site.baseurl }}/assets/js/night_mode.js";
     document.body.appendChild(element);
     }

     /* Check for browser support of event handling capability */
     if (window.addEventListener)
     window.addEventListener("load", downloadJSAtOnload, false);
     else if (window.attachEvent)
     window.attachEvent("onload", downloadJSAtOnload);
     else window.onload = downloadJSAtOnload;
  </script>

  <script>
    var $ = jQuery.noConflict();
    $(document).ready(function(){
      $('.license').flowtype({
        minimum   : 320,
        maximum   : 1200,
        minFont   : 14,
        maxFont   : 30,
        fontRatio : 30
      })
    });
  </script>

</body>

</html>
