.brand-logo {
  .night & {
    color: $nav-brand-logo-colour-night;
  }
}

.dropdown-content {
  &.active li > a.active {
    color: $nav-active-colour-day !important;

    .night & {
      color: $nav-active-colour-night !important;
    }
  }

  .night & {
    background-color: $nav-dropdown-content-bg-colour-night;
  }
}

.nav-wrapper {
  .night & {
    background-color: $nav-wrapper-bg-colour-night !important;
  }
}

nav {
  li > a {
    //letter-spacing: .08em;

    &.active {
      color: $nav-active-colour-day;

      .night & {
        color: $nav-active-colour-night !important;
      }
    }

  }

  /*.brand-logo {
    padding-left: 1%;
    color: #050709;
    font-weight: 600;
  }*/

  ul a {
    //color: $nav-ul-a-colour-day;

    .night & {
      color: $nav-ul-a-colour-night !important;
    }
  }

  .day & ul a {
    color: $nav-ul-a-colour-day;
  }
}

.nav-up { top: -70px; }

.navbar-fixed { transition: top 0.2s ease-in-out; }
