.button-collapse {
  //font-size: 2.5rem;
  cursor: pointer;
}

// hamburger
.feather-menu {
  color: $nav-hamburger-day;

  .night & {
    color: $nav-hamburger-night;
  }
}

// sidenav

.side-nav {
  .night & {
    background-color: $side-nav-bg-colour-night;

    & a {
      color: $side-nav-a-colour-night;
    }

    & .collapsible-body {
      background-color: $side-nav-collapse-bod-bg-colour-night;
    }
  }

  & li a.active {
    color: $nav-active-colour-day !important;

    .night & {
      color: $nav-active-colour-night !important;
    }
  }

  &-home {
    padding: 0 22px !important;

    &-icon {
      margin-right: 12px !important;
    }
  }
}

.night .side-nav li>a>i {
  color: #fefefe;
}
