.button-collapse {
  //font-size: 2.5rem;
  cursor: pointer;
}

// hamburger
.ent-menu {
  //color: $day_ent_menu;

  .night & {
    color: $night_ent_menu;
  }
}

// sidenav

.side-nav {
  .night & {
    background-color: $night_side_nav_bg;

    & a {
      color: $night_side_nav_a;
    }

    & .collapsible-body {
      background-color: $night_side_nav_coll_bod_bg;
    }
  }

  & li a.active {
    color: $day_nav_active !important;

    .night & {
      color: $night_nav_active !important;
    }
  }
}
