footer {
  @include box-shadow;
}

.page-footer {
  background-color: $footer-bg-colour-day !important;

  .night & {
    background-color: $footer-bg-colour-night !important;
  }


  a {
    color: $footer-a-colour;
  }

  .night & a {
    color: $footer-a-colour-night;
  }


  //.night & h5 {
  //  color: $footer-h5-colour-night;
  //}


  & p {
    color: $footer-p-colour-day;
  }
  .night & p {
    color: $footer-p-colour-night;
  }

}


.footer-copyright {
  background-color: $footer-copyr-bg-colour-day !important;

  .night & {
    background-color: $footer-copyr-bg-colour-night !important;
  }
}

.memo { font-size: 13px; }
