

footer {
  @include box-shadow;
}

.page-footer {
  background-color: $footer-bg-colour-day !important;

  .day & {
    background-color: $footer-bg-colour-day !important;
  }
  .night & {
    background-color: $footer-bg-colour-night !important;
  }

  a {
    color: $footer-a-colour;
  }

  .day & h5 {
    color: $footer-h5-colour-day;
  }
  .night & h5 {
    color: $footer-h5-colour-night;
  }

  .day & p {
    color: $footer-p-colour-day;
  }
  .night & p {
    color: $footer-p-colour-night;
  }
}

.night .page-footer a {
  color: $footer-a-colour-night;
}
.footer-copyright {
  background-color: $footer-copyr-bg-colour-day !important;

  .day & {
    background-color: $footer-copyr-bg-colour-day !important;
  }
  .night & {
    background-color: $footer-copyr-bg-colour-night !important;
  }
}

.memo {
  font-size: 13px;
}
