%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, pamādo.
%p.t
  I do not perceive, o' monks, even one other thing which so leads to the
  confusion and disappearance of the true Dhamma as this, o' monks,
  negligence.
%p.p Pamādo, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t
  Negligence, o' monks, leads to the confusion and disappearance of the true
  Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  appamādo.
%p.t
  I do not perceive, o' monks, even one other thing which so leads to the
  continuation, non-confusion and non-disappearance of the true Dhamma as
  this, o' monks, diligence.
%p.p
  Appamādo, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t
  Diligence, o' monks, leads to the continuation, non-confusion and
  non-disappearance of the true Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  sammosāya antaradhānāya saṃvattati yathayidaṃ, bhikkhave, kosajjaṃ.
%p.t
  I do not perceive, o' monks, even one other thing which so leads to
  confusion and disappearance of the true Dhamma as this, o' monks, indolence.
%p.p
  Kosajjaṃ, bhikkhave, saddhammassa sammosāya antaradhānāya saṃvattatī ti.
%p.t
  Indolence, o' monks, leads to the confusion and disappearance of the true
  Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  viriyārambho.
%p.t
  I do not perceive, o' monks, even one other thing which so leads to
  continuation, non-confusion and non-disappearance of the true Dhamma as
  this, o' monks, arousing energy.
%p.p
  Viriyārambho, bhikkhave, saddhammassa ṭhitiyā asammosāya anantaradhānāya
  saṃvattatī ti.
%p.t
  Arousing energy, o' monks, leads to the continuation, non-confusion and
  non-disappearance of the true Dhamma.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yo evaṃ saddhammassa
  ṭhitiyā asammosāya anantaradhānāya saṃvattati yathayidaṃ, bhikkhave,
  anuyogo kusalānaṃ dhammānaṃ, ananuyogo akusalānaṃ dhammānaṃ.
%p.t
  I do not perceive, o' monks, even one other thing which so leads to
  continuation, non-confusion and non-disappearance of the true Dhamma as
  this, o' monks, the application of wholesome qualities and the
  non-application of unwholesome qualities.
%p.p
  Anuyogo, bhikkhave, kusalānaṃ dhammānaṃ, saddhammassa ṭhitiyā asammosāya
  anantaradhānāya saṃvattatī ti.
%p.t
  Application of wholesome qualities, o' monks, leads to the continuation,
  non-confusion and non-disappearance of the true Dhamma.
