%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarūpaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthirūpaṃ.
%p.t
  I do not perceive, o' monks, even one other visual form which so remains in
  the mind of a man after having overpowered it as this, o' monks, the visual
  form of a woman.
%p.p Itthirūpaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The visual form of a woman, o' monks, remains the mind of a man after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthisaddo.
%p.t
  I do not perceive, o' monks, even one other sound which so remains in
  the mind of a man after having overpowered it as this, o' monks, the sound
  of a woman.
%p.p Itthisaddo, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The sound of a woman, o' monks, remains the mind of a man after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthigandho.
%p.t
  I do not perceive, o' monks, even one other smell which so remains in
  the mind of a man after having overpowered it as this, o' monks, the smell
  of a woman.
%p.p Itthigandho, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The smell of a woman, o' monks, remains the mind of a man after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiraso.
%p.t
  I do not perceive, o' monks, even one other taste which so remains in
  the mind of a man after having overpowered it as this, o' monks, the taste
  of a woman.
%p.p Itthiraso, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The taste of a woman, o' monks, remains the mind of a man after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ purisassa
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, itthiphoṭṭhabbaṃ.
%p.t
  I do not perceive, o' monks, even one other tactile feeling which so remains
  in the mind of a man after having overpowered it as this, o' monks, the
  tactile feeling of a woman.
%p.p Itthiphoṭṭhabbaṃ, bhikkhave, purisassa cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The tactile feeling of a woman, o' monks, remains the mind of a man after
  having overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarūpaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisarūpaṃ.
%p.t
  I do not perceive, o' monks, even one other visual form which so remains
  in the mind of a woman after having overpowered it as this, o' monks, the
  visual form of a man.
%p.p Purisarūpaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The visual form of a man, o' monks, remains the mind of a woman after
  having overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekasaddaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisasaddo.
%p.t
  I do not perceive, o' monks, even one other sound which so remains in the
  mind of a woman after having overpowered it as this, o' monks, the sound of
  a man.
%p.p Purisasaddo, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The sound of a man, o' monks, remains the mind of a woman after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekagandhaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisagandho.
%p.t
  I do not perceive, o' monks, even one other smell which so remains in the
  mind of a woman after having overpowered it as this, o' monks, the smell of
  a man.
%p.p Purisagandho, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The smell of a man, o' monks, remains the mind of a woman after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekarasaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaraso.
%p.t
  I do not perceive, o' monks, even one other taste which so remains in the
  mind of a woman after having overpowered it as this, o' monks, the taste of
  a man.
%p.p Purisaraso, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The taste of a woman, o' monks, remains the mind of a woman after having
  overpowered it.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekaphoṭṭhabbaṃ pi samanupassāmi yaṃ evaṃ itthiyā
  cittaṃ pariyādāya tiṭṭhati yathayidaṃ, bhikkhave, purisaphoṭṭhabbaṃ.
%p.t
  I do not perceive, o' monks, even one other tactile feeling which so remains
  in the mind of a woman after having overpowered it as this, o' monks, the
  tactile feeling of a man.
%p.p Purisaphoṭṭhabbaṃ, bhikkhave, itthiyā cittaṃ pariyādāya tiṭṭhatī ti.
%p.t
  The tactile feeling of a man, o' monks, remains the mind of a woman after
  having overpowered it.
