%p.p Buddhaṃ saraṇaṃ gacchāmi
%p.t I go to the Buddha for refuge.
%p.p dhammaṃ saraṇaṃ gacchāmi
%p.t I go to the Dhamma for refuge.
%p.p saṃghaṃ saraṇaṃ gacchāmi
%p.t I go to the Sangha for refuge.

%p.p Dutiyaṃ pi buddhaṃ saraṇaṃ gacchāmi
%p.t For a second time, I go to the Buddha for refuge.
%p.p dutiyaṃ pi dhammaṃ saraṇaṃ gacchāmi
%p.t For a second time, I go to the Dhamma for refuge.
%p.p dutiyaṃ pi saṃghaṃ saraṇaṃ gacchāmi
%p.t For a second time, I go to the Sangha for refuge.

%p.p Tatiyaṃ pi buddhaṃ saraṇaṃ gacchāmi
%p.t For a third time, I go to the Buddha for refuge.
%p.p tatiyaṃ pi dhammaṃ saraṇaṃ gacchāmi
%p.t For a third time, I go to the Dhamma for refuge.
%p.p tatiyaṃ pi saṃghaṃ saraṇaṃ gacchāmi
%p.t For a third time, I go to the Sangha for refuge.
