%p.p …Cittaṃ, bhikkhave, adantaṃ mahato anatthāya saṃvattatī ti.
%p.t O' monks, the untamed mind leads to great harm.
%p.p …cittaṃ, bhikkhave, dantaṃ mahato atthāya saṃvattatī ti.
%p.t O' monks, the tamed mind leads to great benefit.
%p.p …cittaṃ, bhikkhave, aguttaṃ mahato anatthāya saṃvattatī ti.
%p.t O' monks, the unguarded mind leads to great harm.
%p.p …cittaṃ, bhikkhave, guttaṃ mahato atthāya saṃvattatī ti.
%p.t O' monks, the guarded mind leads to great benefit.
%p.p …cittaṃ, bhikkhave, arakkhitaṃ mahato anatthāya saṃvattatī ti.
%p.t O' monks, the unprotected mind leads to great harm.
%p.p …cittaṃ, bhikkhave, rakkhitaṃ mahato atthāya saṃvattatī ti.
%p.t O' monks, the protected mind leads to great benefit.
%p.p …cittaṃ, bhikkhave, asaṃvutaṃ mahato anatthāya saṃvattatī ti.
%p.t O' monks, the unrestrained mind leads to great harm.
%p.p …cittaṃ, bhikkhave, saṃvutaṃ mahato atthāya saṃvattatī ti.
%p.t O' monks, the restrained mind leads to great benefit.

%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yaṃ evaṃ adantaṃ,
  aguttaṃ, arakkhitaṃ, asaṃvutaṃ, mahato anatthāya saṃvattatī yathayidaṃ,
  bhikkhave, cittaṃ.
%p.t
  I do not perceive, o' monks, even one other thing which when untamed,
  unguarded, unprotected, and unrestrained, so leads to great harm as this, o'
  monks, the mind.
%p.p
  Cittaṃ, bhikkhave, adantaṃ, aguttaṃ, arakkhitaṃ, asaṃvutaṃ mahato
  anatthāya saṃvattatī ti.
%p.t
  The mind, o' monks, when untamed, unguarded, unprotected, and unrestrained,
  leads to great harm.
