%p.p
  …Micchādiṭṭhikassa, bhikkhave, anuppannā c'eva akusalā dhammā uppajjanti,
  uppannā ca akusalā dhammā vepullāya saṃvattantī ti.
%p.t
  For one of wrong view, o' monks, unarisen, unwholesome qualities arise and
  arisen, unwholesome qualities expand.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yena anuppannā vā
  kusalā dhammā n'uppajjanti, uppannā vā kusalā dhammā parihāyanti
  yathayidaṃ, bhikkhave, micchādiṭṭhi.
%p.t
  I do not perceive, o' monks, even one other thing by which unarisen,
  wholesome qualities do not arise or arisen, wholesome qualities diminish
  as this, o' monks, wrong view.
%p.p
  Micchādiṭṭhikassa, bhikkhave, anuppannā c'eva kusalā dhammā n'uppajjanti,
  uppannā ca kusalā dhammā parihāyantī ti.
%p.t
  For one of wrong view, o' monks, unarisen, wholesome qualities do not arise
  and arisen, wholesome qualities diminish.
%p.p
  Nāhaṃ, bhikkhave, aññaṃ ekadhammaṃ pi samanupassāmi yena anuppannā vā
  akusalā dhammā n'uppajjanti, uppannā vā akusalā dhammā parihāyanti
  yathayidaṃ, bhikkhave, sammādiṭṭhi.
%p.t
  I do not perceive, o' monks, even one other thing by which unarisen,
  unwholesome qualities do not arise or arisen, unwholesome qualities diminish
  as this, o' monks, right view.
%p.p
  Sammādiṭṭhikassa, bhikkhave, anuppannā c'eva akusalā dhammā n'uppajjanti,
  uppannā ca akusalā dhammā parihāyantī ti.
%p.t
  For one of right view, o' monks, unarisen, unwholesome qualities do not
  arise and arisen, unwholesome qualities diminish.
