%p.p
  Bhikkhu… …anuppannānaṃ pāpakānaṃ akusalānaṃ dhammānaṃ anuppādāya chandaṃ
  janeti; vāyamati; viriyaṃ ārabhati; cittaṃ paggaṇhāti; padahati.
%p.t
  A monk generates desire for the nonarising of unarisen, evil, unwholesome
  qualities; he endeavors; he arouses energy; he applies his mind; he
  strives.
%p.p
  Bhikkhu… …uppannānaṃ pāpakānaṃ akusalānaṃ dhammānaṃ pahānāya chandaṃ
  janeti; vāyamati; viriyaṃ ārabhati; cittaṃ paggaṇhāti; padahati.
%p.t
  A monk generates desire for the abandoning of arisen, evil, unwholesome
  qualities; he endeavors, he arouses energy, he applies his mind, he
  strives.
%p.p
  Bhikkhu… …anuppannānaṃ kusalānaṃ dhammānaṃ uppādāya chandaṃ janeti;
  vāyamati; viriyaṃ ārabhati; cittaṃ paggaṇhāti; padahati.
%p.t
  A monk generates desire for the arising of unarisen, wholesome qualities;
  he endeavors; he arouses energy; he applies his mind; he strives.
%p.p
  Bhikkhu… …uppannānaṃ kusalānaṃ dhammānaṃ ṭhitiyā asammosāya bhiyyobhāvāya
  vepullāya bhāvanāya pāripūriyā chandaṃ janeti; vāyamati; viriyaṃ ārabhati;
  cittaṃ paggaṇhāti; padahati.
%p.t
  A monk generates desire for the continuation, non-confusion, increase,
  expansion, development and fulfillment of arisen, wholesome qualities; he
  endeavors, he arouses energy, he applies his mind, he strives.
